{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">


    <meta charset="UTF-8">
    <title>Recommender</title>
</head>
<body>
{% block content %}

    <div class="header-section">
        <h1></h1>
    </div>

    <div class="back">
        <h1>Recommendation Engine</h1>
    </div>

<div class="interest-box">
<nav class="navbar navbar-light bg-light">
    <form class="form-inline" method="POST" action="{% url 'results'%}">
          {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Interest" aria-label="Search" name="interest">
      <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
</nav>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <div id="loaderIcon" style="visibility:hidden;"><img src="{% static "/img/loader.gif" %}" alt="Loading..."/></div>

    <script>
    $(document).ready(function(){
        $('.form-inline').submit(function() {

            $('#loaderIcon').css('visibility', 'visible');
            $('#loaderIcon').show();
        });
    })
    </script>



{% endblock %}
</body>
</html>