{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous">


    <meta charset="UTF-8">
    <title>Recommender</title>
</head>
<body>
{% block content %}

    <div class="header-section">
        <h1></h1>
    </div>

    <div class="back">
        <h1>Recommendation Engine</h1>
    </div>

{# display the box for user interests#}
<div class="interest-box">
<nav class="navbar navbar-light bg-light">
    <form class="form-inline" method="POST" action="{% url 'results'%}">
          {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Interest" aria-label="Search" name="interest">
      <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
</nav>
</div>

    <div class="recommender-intro">
        <h4>ENTER YOUR INTERESTS IN THE SEARCH BAR ABOVE</h4>
    </div>
<div class="d-flex flex-column h-100">
  <div class="row flex-fill">
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Enter Interests</h5>
          <p class="card-text"><br>Use the search bar above to enter your interests, feel free to enter more than one.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Wait for the Recommendation Engine</h5>
            <p class="card-text"><br>Let the Recommendation Engine have a minute to generate some course recommendations. Don't worry, after your
                first generation the speed of generating new recommendations is quicker.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Browse your Results</h5>
          <p class="card-text"><br>When the results are calculated you will be brought to a page with all of your results. Come back here
          if you'd like more.</p>
        </div>
      </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <div id="loaderIcon" style="visibility:hidden;"><img src="{% static "/img/loader.gif" %}" alt="Loading..."/></div>

    <script>
    $(document).ready(function(){
        $('.form-inline').submit(function() {

            $('#loaderIcon').css('visibility', 'visible');
            $('#loaderIcon').show();
        });
    })
    </script>



{% endblock %}
</body>
</html>