{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous">


    <meta charset="utf-8">
  <title>{% block title %}Coursify{% endblock %}</title>

</head>
{% block content %}
<body>

    <div class="header-section">
        <h1></h1>
    </div>



<div class="d-flex flex-column h-100">
  <div class="row flex-fill">
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Browse Courses</h5>
          <p class="card-text"><br>Navigate to the Browse Courses page to search through over 3000 courses that we have in our database. Use the search bar
                                to refine the search. <br><br> <a href="{% url 'index' %}">Click Here</a> </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">View Course Information</h5>
          <p class="card-text"><br>Browsing through our courses and want to find out more? Click any course on the table that interests you to find out more.
          <br><br> <a href="{% url 'index' %}">Click Here</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Generate Recommendations</h5>
          <p class="card-text"><br>Not sure what you're looking for? Use the Recommendation section to enter your interests and let our
                                recommendation algorithm find the best courses for you.
          <br><br> <a href="{% url 'recommender' %}">Click Here</a></p>
        </div>
      </div>
    </div>

  <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Salary Finder</h5>
          <p class="card-text"><br>Search Jobs Here Using Our API to get the Average Salary for that job.
                      <h1>£{{average_salary }}</h1>

        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
</div>


</body>
</html>
{% endblock %}
