{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">



    <meta charset="utf-8">
  <title>{% block title %}Coursify{% endblock %}</title>

</head>
{% block content %}
<body>

    <div class="header-section">
        <h1></h1>
    </div>



<div class="d-flex flex-column h-100">
  <div class="row flex-fill">
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Browse Courses</h5>
          <p class="card-text"><br>Navigate to the Browse Courses page to search through over 3000 courses that we have in our database. Use the search bar
                                to refine the search.
            <br><br>
{#              <a href="{% url 'index' %}">Click Here</a> </p>#}
            <button type="button" class="btn btn-info" name="info-button" onclick="window.location.href='{% url 'index' %}'">Info</button>

        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">View Course Information</h5>
            <p class="card-text"><br>Browsing through our courses and want to find out more? Click any course on the table that interests you to find out more.
            <br><br>
{#                <a href="{% url 'index' %}">Click Here</a> </p>#}
            <button type="button" class="btn btn-info" name="info-button" onclick="window.location.href='{% url 'index' %}'">Info</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Get Recommendations</h5>
          <p class="card-text"><br>Not sure what you're looking for? Use the Recommendation section to enter your interests and let our
                                recommendation algorithm find the best courses for you.
                <br><br>
                <button type="button" class="btn btn-info" name="info-button" onclick="window.location.href='{% url 'recommender' %}'">Info</button>

        </div>
      </div>
    </div>

  <div class="col-sm-4" style="margin-top: 2%;">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Salary Finder</h5>
          <p class="card-text"><br>Search Jobs Here Using Our API to get the Average Salary for that job.
     <form class="form-inline" method="POST" onsubmit="return navigateForm()">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Job Title" aria-label="Search" name="job_title">
      <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
            <script>
              function navigateForm() {
                var input = document.getElementsByName("job_title")[0].value;
                if (input == "") {
                  alert("Please enter a job title");
                  return false;
                }
                var url = "/salary/" + encodeURIComponent(input) + "/";
                window.location.href = url;
                return false;
              }
            </script>
                    {% if error_message_salary %}
                        <div class="alert alert-danger mt-3" role="alert">
                        {{ error_message_salary }}
                        </div>
                    {% endif %}

                    {% if average_salary %}
                        <div class="alert alert-success mt-3" role="alert">
                    <h1>€{{average_salary }}</h1>
                        </div>
                    {% endif %}

        </div>
      </div>
    </div>

<div class="col-sm-4" style="margin-top: 2%;">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">Rent Cost</h5>
      <p class="card-text"><br>Enter a city and country to find the average rent cost for a one bedroom apartment.
    <form class="form-inline" method="POST" onsubmit="return navigateForm2()">
      {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="City" aria-label="Search" name="city_name" >
        <input class="form-control mr-sm-2" type="search" placeholder="Country" aria-label="Search" name="country_name">

      <button class="btn btn-outline-success" type="submit">Submit</button>
    </form>
            <script>
              function navigateForm2() {
                var input = document.getElementsByName("city_name")[0].value;
                var country = document.getElementsByName("country_name")[0].value;

                if (input == "" || country == "") {
                  alert("Please enter a city and country name");
                  return false;
                }

                var url = "/rent/" + encodeURIComponent(input) + "/" + encodeURIComponent(country) + "/";
                window.location.href = url;

                return false;
              }
            </script>
                    {% if error_message %}
                        <div class="alert alert-danger mt-3" role="alert">
                        {{ error_message }}
                        </div>
                    {% endif %}

                    {% if average_rent %}
                        <div class="alert alert-success mt-3" role="alert">
                        <h1>€{{average_rent}}</h1>
                        </div>
                    {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>





</body>

<footer class="bg-dark text-center text-lg-start">
    <div class="text-center p-3" style="color: #1A8D9A;">
     2023 Ryan Keogh: Coursify
    </div>
</footer>
{% endblock %}

</html>
